.smallbar{
    position: absolute;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0px;
    color: #0fc497;
    bottom: 0;
    background-color: white;
    box-shadow:  0 -4px 8px 0 rgba(0, 0, 0, 0.2) ,  0 -6px   20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    padding-bottom: 5px;


    left: 50%;
    transform: translate(-50%, 0%);
}

.myimage{
    display: absolute;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#17151591;
}

/* my discription*/
.what{
    position: absolute;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* over me*/
.mylinediv{
    position: absolute;
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
    background-color: #0fc497;
}

.mytitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100%;
    color: #0fc497;
    margin: 15px;
}

.overmebox {
    --s: 100px; /* control the size */
    position: absolute;
    top: 100%;
    width: 100%;     
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white
    url(../media/tic-tacsvg.svg);
}
  
